* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}


h1 {
    color: white;
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

h3 {
    text-align: center;
    color: #00a0c4;
    font-size: 2rem;
    font-weight: 500;
    padding: 5px;
}

h4 {
    color: #00a8cc;
    font-size: 1.2rem;
    font-weight: 400;
}

h5 {
    color: rgb(114, 114, 114);
    font-size: 1.2rem;
    font-weight: 400;
}

.highlight {
    color: #00a8cc;
    /* azul */
}

p {
    padding: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: white;
}

body {
    overflow-x: hidden;
}

.container {
    background-color: #0a0a0b;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainNavbar {
    transform: translateY(-100%);
    /* baja para mostrarse */
    transition: transform 1s ease;
    backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    z-index: 1000;
}

#mainNavbar.navbarVisible {
    transform: translateY(0);
    /* empieza oculto arriba */
    transition: transform 1s ease;
    /* transiciona solo la transformacion */
    backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    z-index: 1000;
}

.enlaces {
    padding: 15px;
    padding-right: 25px;
    display: flex;
    gap: 15px;
}

#mainNavbar a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.mainHeader {
    position: relative;
    background-image: url("assets/Background1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0a0a0b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 101vh;
    border-bottom: 1px solid rgba(85, 85, 85, 0.58);
}

/* Capa de opacidad sobre la imagen */
.mainHeader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg, rgba(0, 0, 0, 1) 11%, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

/* Asegura que el contenido quede por encima del overlay */
.mainHeader>* {
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    .mainHeader {
        flex-direction: column;
    }

    #mainNavbar,
    #mainNavbar.navbarVisible {
        justify-content: center;
        align-items: center;
    }

    #mainNavbar .enlaces {
        flex-direction: column;
    }

    h1 {
        font-size: 3rem;
    }
}

.headerContent {
    padding: 20px;
    text-align: left;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.contactButton {
    width: 230px;
    height: 60px;
    border: .75px solid white;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); */
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.1rem;

}

#formacion,
#aptitudes,
#proyectos {
    opacity: 0;
    min-height: 100vh;
    padding-top: 100px;
}

.mainContent {
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgba(85, 85, 85, 0.58);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#formacion.visible,
#aptitudes.visible,
#proyectos.visible {
    opacity: 1;
    transition: opacity 3s ease-in;
}

.ciclosInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width : 768px) {
    .progress {
        background-color: #00a0c4;
        width: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .progressPoint {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #00a0c4;
        box-shadow: 0 0 25px rgb(107, 172, 247);
    }
}

.ciclos {
    width: 95%;
}

.ciclo {
    width: 90%;
    min-height: 120px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: .5px solid #353535;
    border-radius: 8px;
    padding: 25px;
    transition: 0.3s ease;
    background-color: #121213;
}

.ciclo:hover {
    transform: scale(105%);
    box-shadow: 0 0 2px white;
}


.cicloInfo h4 {
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.cicloInfo h5 {
    font-size: 1.05rem;
}

.cicloFecha {
    font-size: 1rem;
    color: rgb(140, 140, 140);
}

.aptitudesCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}


.backend,
.frontend,
.devops {
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    /* max-width: 30%; */
    margin-top: 15px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(114, 114, 114, 0.3);
    transition: transform 0.3s ease;
    background-color: #121213;
}

.backend h4,
.frontend h4,
.devops h4 {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.3);
    padding-bottom: 5px;
}

.backend:hover,
.frontend:hover,
.devops:hover {
    transform: scale(105%);
    box-shadow: 0 0 2px white;
}

ul {
    list-style: none;
    margin-left: 20px;
}

.aptitudCardElement {
    padding: 8px 0;
    position: relative;
    color: rgb(200, 200, 200);
    font-size: 0.95rem;
}

.aptitudCardElement::before {
    content: '✔';
    /* o puedes usar FontAwesome */
    color: #2f8019;
    /* azul */
    position: absolute;
    left: -20px;
    font-size: 1rem;
}

.infoProyectos {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.proyecto {
    display: flex;
    flex-direction: column;
    flex: 1 1 450px;
    border-radius: 12px;
    border: 1px solid rgba(114, 114, 114, 0.3);
    background-color: #121213;
    padding: 15px;
    transition: transform 0.3s ease;
}

.proyecto a:hover {
    color: #00a8cc;
    text-decoration: underline;
}


.proyecto:hover {
    transform: scale(105%);
    box-shadow: 0px 0px 3px white;
}

.tecnologias {
    color: rgb(200, 200, 200);
    font-style: oblique;
}

textarea {
    height: 250px;
}

footer {
    width: 100%;
    height: 15vh;
    border-top: 1px solid rgba(85, 85, 85, 0.58);
}